* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Questrial";
}
@font-face {
  src: url("../fonts/Questrial-Regular.ttf");
  font-family: "Questrial";
}
/*Variables and functions*/
$EextraLargeFont: 35px;
$extraLargeFont: 30px;
$largeFont: 25px;
$mediumFont: 20px;
$smallFont: 16px; //default size

$hoverColor: rgb(255, 255, 255);
$hoverColorBlue: lightseagreen;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Navbar*/
nav {
  width: 100%;
  background-color: rgba(245, 245, 245, 0.4);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  z-index: 2;
  .nav_list {
    display: flex;
    .navbar_exit {
      display: none;
    }
    li {
      list-style-type: none;
      margin-left: 20px;
      padding: 15px 0px;
      font-size: $mediumFont;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
        color: $hoverColor;
      }
    }
    .fa-angle-down {
      position: relative;
      .more_inner {
        display: none;
        position: absolute;
        top: 30px;
        left: -50px;
        background-color: rgba(0, 0, 0, 0.4);
        width: 150px;
        div {
          padding: 10px;
          border-bottom: 1px solid black;
          color: white;
          &:hover {
            color: black;
          }
        }
      }
    }
  }
  .navbar_icons {
    display: flex;
    align-items: center;
    i {
      font-size: $EextraLargeFont;
      position: relative;
      margin-right: 15px;
      &:hover {
        cursor: pointer;
        color: $hoverColor;
      }
      span {
        position: absolute;
        left: 37%;
        top: 25%;
        font-size: $smallFont;
      }
    }
    .fa-sliders-h {
      display: none;
    }
  }
  .navbar_bars {
    display: none;
    font-size: $extraLargeFont;
    margin-right: 30px;
    z-index: 1;
    i {
      &:hover {
        color: $hoverColor;
      }
    }
  }
}

/*Header*/
header {
  width: 100%;
  height: 100vh;
  z-index: -1;
  .swiper {
    width: 100%;
    height: 100%;
    .swiper-wrapper {
      .swiper-slide {
        position: relative;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
        }
        .header_info {
          position: absolute;
          background-color: rgba(255, 255, 255, 0.5);
          padding: 10px;
          left: 100px;
          top: 50%;
          width: 400px;
          color: black;
          h1 {
            text-align: left;
            font-weight: 200;
          }
          p {
            text-align: left;
          }
          button {
            float: left;
            margin: 10px 0px 0px 0px;
            font-size: $EextraLargeFont;
            background-color: transparent;
            border: 1px solid black;
            padding: 5px;
            cursor: pointer;
            &:hover {
              background-color: rgba(255, 255, 255, 0.5);
            }
          }
        }
      }
    }
  }
}

/*Contact form*/
.contact_wrapper {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100vh;
  @include center;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);  /*blur background*/
  margin-left: -100%;
  .contact_form, .login_form {
    position: relative;
    width: 400px;
    height: 420px;
    background-color: rgb(223, 223, 255);
    .fa-times {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: $mediumFont;
      cursor: pointer;
    }
    .header, .header_login {
      height: 12%;
      @include center;
      h2 {
        font-weight: 200;
      }
    }
    .inputs, .inputs_login {
      height: 76%;
      div {
        width: 100%;
        height: 50px;
        @include center;
        margin: 5px 0px;
        input {
          width: 90%;
          height: 90%;
          font-size: $smallFont;
          padding-left: 20px;
          border: none;
          &::placeholder {
            font-size: $smallFont;
          }
          &:focus {
            outline: none;
          }
        }
      }
      span {
        margin-left: 40px;
        color: lightseagreen;
        text-decoration: underline;
        cursor: pointer;
        &:hover {
          color: black;
        }
      }
    }
    .btn {
      height: 12%;
      button {
        height: 100%;
        width: 100%;
        font-size: $largeFont;
        border: none;
        background-color: lightseagreen;
        cursor: pointer;
        &:hover {
          color: white;
        }
      }
    }
  }
  .login_form {
    display: none;
  }
}

/*Favourite*/
.favorite_wrapper {
  position: fixed;
  top: 52px;
  right: 0;
  min-height: 500px;
  width: 500px;
  background-color: white;
  z-index: 3;
  margin-right: -40%;
  transition: all 0.4s ease-in-out;
  .exit_space {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    i {
      margin-right: 20px;
      font-size: $mediumFont;
    }
  }
}


/*Categories card*/
main {
  h2 {
    text-align: center;
    font-weight: 200;
    margin: 40px 0px 20px 0px;
    letter-spacing: 5px;
  }
  .categories_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .categories_card {
      height: 320px;
      width: 400px;
      margin: 10px;
      .image {
        height: 65%;
        width: 100%;
        overflow: hidden;
        position: relative;
        .name {
          position: absolute;
          z-index: 3;
          color: white;
          font-size: $largeFont;
          font-weight: 600;
          left: 30px;
          top: 20px;
        }
        img {
          width: 100%;
          transition: 0.3s ease;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      .info {
        height: 20%;
        h3 {
          margin: 10px 0px;
          color: $hoverColorBlue;
        }
      }
      .btn {
        height: 15%;
        display: flex;
        align-items: center;
        button {
          border: none;
          background-color: $hoverColorBlue;
          padding: 8px 12px;
          font-size: $smallFont;
          color: white;
          &:hover {
            background-color: black;
          }
          i {
            margin: 0 10px;
          }
        }
      }
    }
  }
}

/*Hotels*/
.hotel_wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(231, 231, 231);
  .hotel {
    width: 400px;
    height: 240px;
    margin: 10px 0px;
    background-color: white;
    border-radius: 5px;
    .header {
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      h3 {
        font-weight: 200;
        text-align: center;
        margin: 0 10px;
      }
    }
    .info {
      height: 80%;
      display: flex;
      .image {
        width: 50%;
        text-align: center;
        img {
          width: 90%;
          margin-top: 4px;
        }
      }
      .information {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .info_upper {
          display: flex;
          flex-direction: column;
          div {
            background-color: rgb(226, 226, 226);
            margin: 4px;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            .price_num, .transport, .nights_number {
              color: rgb(12, 12, 185);
              font-weight: bold;
            }
          }
        }
        button {
          padding: 5px;
          font-size: $smallFont;
          font-weight: bold;
          color: white;
          background-color: rgb(12, 12, 185);
          border: none;
          margin: 0px 5px 5px 5px;
          border: 1px solid transparent;
          &:hover {
            background-color: white;
            border: 1px solid rgb(12, 12, 185);
            color: rgb(12, 12, 185);
            cursor: pointer;
          }
        }
      }
    }
  }
}

//Media_queries
@media screen and (max-width: 768px) {
  /*Navbar*/
  nav {
    justify-content: flex-end;
    .nav_list {
      position: absolute;
      left: -100%;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      z-index: 2;
      transition: all 0.3s ease;
      .navbar_exit {
        display: block;
        position: absolute;
        right: 30px;
        top: 0px;
      }
      li {
        margin-top: 10px;
        &:hover {
          color: $hoverColorBlue;
        }
      }
      .fa-angle-down {
        .more_inner {
          top: 0px;
          left: 15px;
          width: 130px;
          div {
            font-size: $smallFont;
          }
        }
      }
    }
    .navbar_icons {
      margin-right: 10px;
      padding: 5px 0px;
      .fa-sliders-h {
        display: block;
      }
    }
    .navbar_bars {
      display: flex;
      align-items: center;
      padding: 5px 0px;
    }
  }

  /*Header*/
  header {
    height: auto;
    width: auto;
    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          .header_info {
            left: 70px;
            top: 20%;
            width: 200px;
            h1 {
              font-size: $mediumFont;
            }
            p {
              font-size: 10px;
            }
            button {
              font-size: $smallFont;
            }
          }
        }
      }
    }
  }
}
